body {
    background: #1f1f1f;
  }
  
#wrapper {
position: relative;
background: #2f3138;
border: 0px solid #000;
/* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.71); */
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
margin: 0 auto;
margin-left: 20px;
}

#chart-bar {
position: relative;
margin-top: -38px;
}
  
.link {
position: absolute;
bottom: 7px;
right: 13px;
z-index: 10;
color: #ccc;
font-size: 12px;
text-decoration: none;
font-family: Helvetica, Arial;
}