.smallSearchBar {
    width: '600px';
    height: '20px';
    background-color: '#1F1F1F';
    border: '1px solid #D2D2D2';
    background: 'no-repeat scroll 1px 1px';
    background-size: 'contain';
    background-position: 'left';
    position: 'absolute';
    top: '40px';
    left: '70%';
    bottom: '5px';
    color: 'white';
}

.bigSearchBar {
    width: '600px';
    height: '30px';
    background-color: '#1F1F1F';
    border: '1px solid #D2D2D2';
    background: 'no-repeat scroll 1px 1px';
    background-size: 'contain';
    background-position: 'left';
    position: 'absolute';
    top: '40px';
    left: '60%';
    bottom: '5px';
    color: 'white';
}