.leftBox {
	width: 800px;
	height: 750px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    background-color: #9B51E0;
}

.rightBox {
	width: 700px;
	height: 750px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    background-color: #FFFFFF;
}