.leftBox {
	width: 800px;
	height: 750px;
    position: absolute;
    top: 100px;
    left: 200px;
    /* transform: translate(-50%,-50%); */
    background-color: #9B51E0;
}

.rightBox {
	width: 700px;
	height: 750px;
    position: absolute;
    top: 100px;
    left: 1000px;
    /* transform: translate(-50%,-50%); */
    background-color: #FFFFFF;
}