.leftBox {
	width: 800px;
	height: 750px;
    top: 10rem;
    left: 20rem;
    background-color: #9B51E0;
}

.rightBox {
	width: 700px;
	height: 750px;
    top: 10rem;
    left: 70rem;
    background-color: #FFFFFF;
}