.box {
    background-color: #2F3138;
    width: 1805px;
    height: fit-content;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 60px;
    overflow: auto;
}

.button:hover {
    background-color: white;
    color: '#1F1F1F';
}