.box {
    background-color: #2F3138;
    width: 1760px;
    height: 800px;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 60px;
}

.button:hover {
    background-color: white;
    color: '#1F1F1F';
}