.App {
  text-align: center;
  background-color: #1F1F1F;
  color: #1F1F1F;
  font-family: 'IBMPlexSansKR-Regular';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1F1F1F;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "ibm-regular";        
  src: url("./font/IBMPlexSerif-Regular.ttf");
}

@font-face {
  font-family: "ibm-semi-bold";        
  src: url("./font/IBMPlexSerif-SemiBold.ttf");
}

@font-face {
  font-family: "ibm-bold";
  src: url("./font/IBMPlexSerif-Bold.ttf");
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}